@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --red: #eb2127;
  --grey: #e5e5e5;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  transition: background-color 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
body.red *::selection {
  background-color: #e5e5e5;
}
body.red .testimonials-content * {
  color: #ffffff;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0;
  background: transparent;
}

*::selection {
  background-color: #eb2127;
}

.no-scroll {
  overflow: hidden;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.error-text {
  margin: 100px;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-footer footer {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.anchor-overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

img,
picture,
figure {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

.scroll {
  overflow: scroll;
}

.lock {
  overflow: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
}

.outer {
  box-sizing: content-box;
  margin: 75px auto;
  width: calc(100vw - 150px);
  max-width: 1550px;
}

.progress-bar {
  z-index: 4;
  border-radius: 20px;
}
.progress-bar .progress {
  border-radius: 20px;
  will-change: width;
  width: 0%;
  height: 100%;
}

.background img,
.background video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.icons .icon.close {
  height: 100%;
  width: 100%;
  z-index: 2;
  background: #eb2127;
  position: absolute;
  top: 0;
  -moz-transform: translate3d(-100.2%, 0, 0);
  -o-transform: translate3d(-100.2%, 0, 0);
  -ms-transform: translate3d(-100.2%, 0, 0);
  -webkit-transform: translate3d(-100.2%, 0, 0);
  transform: translate3d(-100.2%, 0, 0);
}
.icons .icon.close * {
  stroke: #ffffff;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s, transform 0.8s;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in.fade-in--offscreen {
  opacity: 0 !important;
  transform: translateY(20px) !important;
}

.fade-in[data-cascade] {
  transition-delay: calc(var(--animation-order) * 0.1s) !important;
}

@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-Bold.woff2") format("woff2"), url("../fonts/F37Blanka-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-BoldItalic.woff2") format("woff2"), url("../fonts/F37Blanka-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-LightItalic.woff2") format("woff2"), url("../fonts/F37Blanka-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-MediumItalic.woff2") format("woff2"), url("../fonts/F37Blanka-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-Medium.woff2") format("woff2"), url("../fonts/F37Blanka-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-Light.woff2") format("woff2"), url("../fonts/F37Blanka-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-SemiBold.woff2") format("woff2"), url("../fonts/F37Blanka-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-Regular.woff2") format("woff2"), url("../fonts/F37Blanka-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-SemiBoldItalic.woff2") format("woff2"), url("../fonts/F37Blanka-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "F37 Blanka";
  src: url("../fonts/F37Blanka-RegularItalic.woff2") format("woff2"), url("../fonts/F37Blanka-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
html {
  font-size: 16px;
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: "F37 Blanka", helvetica, sans-serif !important;
}

.top-left {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-center {
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}
.top-center .text {
  align-items: center;
}

.top-right {
  text-align: left;
  justify-content: flex-end;
  align-items: flex-start;
}

.center-left {
  text-align: left;
  justify-content: flex-start;
  align-items: center;
}

.center-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.center-center .text {
  align-items: center;
}

.center-right {
  text-align: left;
  justify-content: flex-end;
  align-items: center;
}

.bottom-left {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-end;
}

.bottom-center {
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.bottom-center .text {
  align-items: center;
}

.bottom-right {
  text-align: left;
  justify-content: flex-end;
  align-items: flex-end;
}

.landing-section .top-left,
.landing-section .top-center,
.landing-section .top-right {
  padding-top: 200px !important;
}

@media (max-width: 1024px) {
  .landing-section .top-left,
  .landing-section .top-center,
  .landing-section .top-right {
    padding-top: 150px !important;
  }
}
@media (max-width: 768px) {
  .landing-section .top-left,
  .landing-section .top-center,
  .landing-section .top-right {
    padding-top: 100px !important;
  }
}
nav .icons * {
  stroke: #ffffff;
}

footer {
  background: #eb2127;
  margin: auto;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  color: #ffffff;
  padding: 170px 0 50px 0;
  overflow: hidden;
}
footer .logo {
  height: 100%;
}
footer .logo a, footer .logo img, footer .logo svg {
  height: inherit;
}
footer .logo svg * {
  fill: #ffffff;
}
footer .logo a {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
footer .logo a:hover {
  opacity: 0.8;
}
footer .footer-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
footer .footer-links a {
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
footer .footer-links a:hover {
  opacity: 0.6;
}
footer .social-link {
  height: 23px;
  width: 23px;
  display: inline-block;
}
footer .social-link svg {
  height: 100%;
  width: 100%;
}
@media (max-width: 1600px) {
  footer {
    padding: 50px;
  }
}
@media (max-width: 1024px) {
  footer {
    height: 160px;
  }
  footer .footer-links {
    align-items: flex-start;
    gap: 15px;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    text-align: left;
  }
  footer .social-link {
    order: -1;
  }
}
@media (max-width: 768px) {
  footer {
    align-items: flex-start;
    flex-direction: column;
    height: unset;
  }
  footer .logo {
    height: 150px;
  }
}
@media (max-width: 640px) {
  footer {
    padding: 75px 25px 25px 25px;
  }
}

.flex-grid {
  display: flex;
}
.flex-grid .col-1 {
  flex: 0 0 8.3333%;
  max-width: 8.3333%;
}
.flex-grid .col-2 {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}
.flex-grid .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.flex-grid .col-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.flex-grid .col-5 {
  flex: 0 0 41.6667%;
  max-width: 41.6667%;
}
.flex-grid .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.flex-grid .col-7 {
  flex: 0 0 58.3333%;
  max-width: 58.3333%;
}
.flex-grid .col-8 {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}
.flex-grid .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.flex-grid .col-10 {
  flex: 0 0 83.3333%;
  max-width: 83.3333%;
}
.flex-grid .col-11 {
  flex: 0 0 91.6667%;
  max-width: 91.6667%;
}
.flex-grid .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.landing.story {
  padding: unset;
}
.landing.story .inner {
  max-width: 2100px;
}
.landing.story .inner .text {
  margin-right: -12px;
}
.landing.story .inner .mobile {
  display: none;
}
.landing.story .inner video {
  z-index: -1;
  height: 99.5%;
  width: 99.5%;
  bottom: 0;
  right: 0;
  margin: auto;
  object-position: center;
}
@media (max-width: 768px) {
  .landing.story .inner .text {
    margin-right: unset;
  }
  .landing.story .inner .mobile {
    display: block;
  }
  .landing.story .inner video.mobile {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
  .landing.story .inner dotlottie-player.mobile {
    width: 75vw !important;
    max-width: 700px;
  }
  .landing.story .inner .desktop {
    display: none;
  }
}

.fui-form {
  width: 100%;
}

.fui-submit {
  color: #ffffff !important;
}

.project.landing {
  transition: opacity 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.project .slider-outer {
  position: fixed;
}
.project .arrow.disabled {
  opacity: 1;
}
.project .back * {
  color: #ffffff;
}
.project .back .hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
.project .inner {
  padding: unset !important;
  justify-content: space-between;
  align-items: flex-end;
  padding: unset;
  max-width: 1550px;
  font-size: 1em;
}
.project .inner .arrows,
.project .inner .magnify,
.project .inner .project-info,
.project .inner .project-buttons,
.project .inner h3 {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1) !important;
}
.project .inner.active h3 {
  color: #333333;
}
.project .inner.active h3:first-of-type {
  color: #eb2127;
}
.project .inner.active .arrows,
.project .inner.active .magnify {
  border: 1px solid #e5e5e5;
}
.project .inner.active .project-info {
  -moz-transform: translate3d(0, 3px, 0);
  -o-transform: translate3d(0, 3px, 0);
  -ms-transform: translate3d(0, 3px, 0);
  -webkit-transform: translate3d(0, 3px, 0);
  transform: translate3d(0, 3px, 0);
}
.project .inner.active .project-buttons {
  -moz-transform: translate3d(0, 15px, 0);
  -o-transform: translate3d(0, 15px, 0);
  -ms-transform: translate3d(0, 15px, 0);
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}
.project .project-info,
.project .project-buttons {
  display: flex;
  position: relative;
  gap: 30px;
}
.project .project-info {
  flex-wrap: wrap;
  gap: 10px 30px;
}
.project .project-info.h4 {
  gap: 20px;
}
.project .project-info * {
  line-height: 1em;
}
.project .project-buttons {
  gap: 20px;
}
.project .spacer {
  width: 20px;
  background: #ffffff;
}
.project .background.gradient {
  background-size: cover;
  background-position: center;
}
.project .background.gradient picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.project .background.gradient picture.active {
  opacity: 1;
  z-index: 1;
}
.project .background.gradient picture.previous {
  opacity: 0;
  z-index: 0;
}
.project .background.gradient picture .portrait {
  object-fit: contain;
}
.project .slider-container {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 100%;
  height: calc(100svh - 350px);
}
.project .slider {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  height: inherit;
  position: relative;
}
.project .slider .slide {
  width: 100%;
  height: calc((100svh - 350px) / 2);
}
.project .slider .slide picture {
  cursor: pointer;
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
  max-width: 775px;
}
.project .slider .slide picture img {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  height: 100%;
}
.project .slider .slide:hover {
  opacity: 0.9;
}
.project .slider .slide:hover img {
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.project .slider .slide:nth-child(odd) {
  grid-row: 1;
}
.project .slider .slide:nth-child(even) {
  grid-row: 2;
}
.project .slider .slide:first-of-type picture {
  border-radius: 15px 0 0 0;
}
.project .slider .slide:nth-of-type(2) picture {
  border-radius: 0 0 0 15px;
}
@media (max-width: 1024px) {
  .project .slider-container {
    bottom: unset;
    top: 100px;
    height: calc(100svh - 250px);
  }
  .project .slider-container .slider .slide {
    height: calc((100svh - 250px) / 2);
    width: calc(100vw - 100px) !important;
    max-width: 775px;
  }
  .project .slider-container .slider .slide img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .project .inner.active .project-info {
    -moz-transform: translate3d(0, 15px, 0);
    -o-transform: translate3d(0, 15px, 0);
    -ms-transform: translate3d(0, 15px, 0);
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
}
@media (max-width: 768px) {
  .project .background.gradient picture .portrait {
    object-fit: cover;
  }
}
@media (max-width: 640px) {
  .project .slider-container {
    top: 90px;
    height: calc(100svh - 190px);
  }
  .project .slider-container .slider .slide {
    width: calc(100vw - 50px) !important;
    height: calc((100svh - 190px) / 2);
  }
  .project .project-info h3:nth-of-type(2),
  .project span.label {
    display: none;
  }
  .project .inner {
    position: relative;
  }
  .project .inner .project-info h3 {
    font-size: 1.5rem;
  }
  .project .project-buttons {
    gap: 15px;
    position: absolute;
    top: 0;
    border: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .project .project-buttons .icons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .project .project-buttons .arrows {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: -25px;
  }
  .project .project-buttons .arrows .spacer {
    display: none;
  }
  .project .project-buttons .arrows .icon {
    background: transparent;
    padding: 25px;
  }
  .project .project-buttons .arrows .icon svg * {
    stroke: #ffffff !important;
  }
  .project .project-buttons .arrows .arrow-next:after,
  .project .project-buttons .arrows .arrow-prev:after {
    content: "";
    width: 100px;
    height: 40px;
    background: black;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    filter: blur(40px);
  }
  .project .project-buttons .arrows .arrow-next:after {
    right: -50px;
  }
  .project .project-buttons .arrows .arrow-prev:after {
    left: -50px;
  }
  .project .inner.active .project-buttons,
  .project .inner.active .project-info {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .project .inner.active .project-buttons .arrows,
  .project .inner.active .project-info .arrows {
    display: none;
  }
  .project .inner.active .slider-outer {
    z-index: 2;
  }
}
@media (max-height: 600px) {
  .project .slider-container {
    height: 250px;
  }
  .project .slider-container .slider .slide {
    height: 125px;
  }
}

.careers-outer {
  max-width: 1550px;
  padding: 75px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  box-sizing: content-box;
}
.careers-outer .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.careers-outer .text div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.careers-outer .text h1 {
  margin-left: -0.04em;
  margin-top: -0.15em;
}
.careers-outer .text h1.one-word {
  font-size: clamp(3.25rem, 6vw, 5.5rem);
}
.careers-outer .text h2 {
  margin-top: -10px;
  margin-bottom: 20px;
}
.careers-outer .text h3 {
  text-decoration: underline;
}
.careers-outer .text * {
  color: #ffffff;
}
.careers-outer .text p {
  max-width: 500px;
}
.careers-outer .text ol, .careers-outer .text ul {
  margin: unset;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.careers-outer .text,
.careers-outer .fui-i {
  width: 50%;
}
.careers-outer .fui-i {
  position: sticky;
  top: 125px;
}
.careers-outer .fui-i .fui-heading.fui-heading-h2 {
  max-width: 76%;
}
@media (max-width: 1600px) {
  .careers-outer {
    padding: 50px;
  }
}
@media (max-width: 1024px) {
  .careers-outer {
    flex-direction: column;
  }
  .careers-outer .text,
  .careers-outer .fui-i {
    width: 100%;
  }
  .careers-outer .text p {
    max-width: 700px;
  }
}
@media (max-width: 640px) {
  .careers-outer {
    padding: 25px;
  }
  .careers-outer .text h1 {
    margin-top: unset;
  }
  .careers-outer .text h1.one-word {
    font-size: clamp(2rem, 10vw, 5.5rem);
  }
  .careers-outer .text h2 {
    font-size: 1.5rem;
    margin-top: -20px;
  }
}

.banner {
  position: relative;
  height: 100svh;
  width: 100vw;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
}
.banner .background,
.banner .carousel {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.banner .carousel.gradient:before {
  z-index: 4;
}
.banner .carousel .carousel-item {
  height: inherit;
  width: inherit;
  position: inherit;
  z-index: 2;
  opacity: 0;
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
.banner .carousel .carousel-item.active {
  z-index: 3;
  opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s !important;
}

.fui-i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fui-i * {
  font-weight: 500;
}
.fui-i textarea {
  min-height: 100px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.fui-i .fui-heading.fui-heading-h2 {
  width: 100%;
  line-height: 1em;
  margin-bottom: 20px;
}
.fui-i .fui-alert-success {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #333333;
  transition: 0.28s cubic-bezier(0.23, 1, 0.32, 1);
}
.fui-i .fui-alert-success p {
  max-width: 300px;
  text-align: center;
}
.fui-i .fui-input[type=file] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.fui-i .fui-input[type=file]:hover,
.fui-i .fui-submit:hover {
  opacity: 0.8;
  -moz-transform: translate3d(0, -1px, 0);
  -o-transform: translate3d(0, -1px, 0);
  -ms-transform: translate3d(0, -1px, 0);
  -webkit-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
}
.fui-i .fui-input[type=file]::-webkit-file-upload-button {
  text-align: left;
  background-color: #eb2127;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-right: 20px;
}
.fui-i .fui-input[type=file]::-moz-file-upload-button {
  text-align: left;
  background-color: #eb2127;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-right: 20px;
}
.fui-i .careers-outer .fui-i .fui-input[type=file]:after {
  content: url("web/assets/svg/arrow.svg");
  display: block;
  width: 14px;
  height: 16px;
}

.anchor .btn-arrow {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.red .back .btn {
  color: #ffffff;
}

.nav .btn-arrow svg:first-of-type * {
  fill: #eb2127;
  stroke: unset;
}

.nav .btn-arrow svg:last-of-type * {
  fill: #333333;
  stroke: unset;
}

.magnify .btn-arrow svg:first-of-type g,
.magnify .btn-arrow svg:first-of-type circle:first-of-type {
  stroke: unset !important;
}
.magnify .btn-arrow svg:first-of-type circle:last-of-type,
.magnify .btn-arrow svg:first-of-type path {
  stroke: #eb2127;
}

.magnify .btn-arrow svg:last-of-type g,
.magnify .btn-arrow svg:last-of-type circle:first-of-type {
  stroke: unset !important;
}
.magnify .btn-arrow svg:last-of-type circle:last-of-type,
.magnify .btn-arrow svg:last-of-type path {
  stroke: #333333;
}

.arrows {
  border-radius: 3px;
  display: flex;
}
.arrows .arrow-prev {
  border-radius: 3px 0 0 3px;
}
.arrows .arrow-next {
  border-radius: 0 3px 3px 0;
}

.arrow .btn-arrow {
  right: unset;
  bottom: unset;
}
.arrow.dark {
  background-color: #ffffff;
}
.arrow.dark svg {
  fill: #eb2127;
}
.arrow.arrow-prev svg:first-of-type {
  -moz-transform: translate3d(0, 0, 0) rotate(180deg);
  -o-transform: translate3d(0, 0, 0) rotate(180deg);
  -ms-transform: translate3d(0, 0, 0) rotate(180deg);
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
  transform: translate3d(0, 0, 0) rotate(180deg);
}
.arrow.arrow-prev svg:last-of-type {
  -moz-transform: translate3d(115%, 0, 0) rotate(180deg);
  -o-transform: translate3d(115%, 0, 0) rotate(180deg);
  -ms-transform: translate3d(115%, 0, 0) rotate(180deg);
  -webkit-transform: translate3d(115%, 0, 0) rotate(180deg);
  transform: translate3d(115%, 0, 0) rotate(180deg);
}
.arrow.arrow-next svg:first-of-type {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.arrow.arrow-next svg:last-of-type {
  -moz-transform: translate3d(-115%, 0, 0);
  -o-transform: translate3d(-115%, 0, 0);
  -ms-transform: translate3d(-115%, 0, 0);
  -webkit-transform: translate3d(-115%, 0, 0);
  transform: translate3d(-115%, 0, 0);
}
.arrow:hover.arrow-prev svg:first-of-type {
  -moz-transform: translate3d(-115%, 0, 0) rotate(180deg);
  -o-transform: translate3d(-115%, 0, 0) rotate(180deg);
  -ms-transform: translate3d(-115%, 0, 0) rotate(180deg);
  -webkit-transform: translate3d(-115%, 0, 0) rotate(180deg);
  transform: translate3d(-115%, 0, 0) rotate(180deg);
}
.arrow:hover.arrow-prev svg:last-of-type {
  -moz-transform: translate3d(0, 0, 0) rotate(180deg);
  -o-transform: translate3d(0, 0, 0) rotate(180deg);
  -ms-transform: translate3d(0, 0, 0) rotate(180deg);
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
  transform: translate3d(0, 0, 0) rotate(180deg);
}
.arrow:hover.arrow-next svg:first-of-type {
  -moz-transform: translate3d(115%, 0, 0);
  -o-transform: translate3d(115%, 0, 0);
  -ms-transform: translate3d(115%, 0, 0);
  -webkit-transform: translate3d(115%, 0, 0);
  transform: translate3d(115%, 0, 0);
}
.arrow:hover.arrow-next svg:last-of-type {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.arrow.disabled {
  opacity: 0;
}

@media (max-width: 1024px) {
  .btn.icon {
    padding: 17px;
  }
  .btn.icon:not(.arrow) {
    margin: 0 -0.5px;
  }
  .buttons {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .btn {
    font-size: 0.85rem;
  }
}
@media (max-width: 640px) {
  .back {
    display: none !important;
  }
}
.testimonials {
  border-radius: 15px;
}
.testimonials .carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.testimonials .carousel .carousel-item {
  display: none;
}
.testimonials .carousel .carousel-item.active {
  display: block;
}
.testimonials .carousel .carousel-item .testimonial-card {
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 2rem;
}

.testimonials-container {
  background-color: #eb2127;
  /* Example red background */
  color: #ffffff;
  padding: 5rem 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns */
}
.testimonials-container .testimonials-content {
  grid-column: 1/span 1;
}
.testimonials-container .testimonials-content h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.testimonials-container .testimonials-content h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.testimonials-container .carousel {
  grid-column: 2/span 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.testimonials-container .carousel .carousel-item {
  display: none;
}
.testimonials-container .carousel .carousel-item.active {
  display: block;
}
.testimonials-container .carousel .carousel-item .testimonial-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
}
.testimonials-container .carousel .carousel-item .testimonial-card .testimonial-quote {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.testimonials-container .carousel .carousel-item .testimonial-card .testimonial-author {
  font-weight: bold;
}
.testimonials-container .carousel .carousel-item .testimonial-card .testimonial-role {
  font-size: 0.875rem;
  color: #cccccc;
}
.testimonials-container .progress-bar {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
}
.testimonials-container .progress-bar .progress {
  height: 100%;
  background: #ffffff;
  width: 0;
  transition: width linear;
}

@layer utilities {
  .page {
    @apply mx-auto w-full;
    max-width: theme("maxWidth.page");
    padding-left: theme("spacing.p-default");
    padding-right: theme("spacing.p-default");
  }
  @screen sm {
    .page {
      padding-left: theme("spacing.p-sm");
      padding-right: theme("spacing.p-sm");
    }
  }
  @screen lg {
    .page {
      padding-left: theme("spacing.p-lg");
      padding-right: theme("spacing.p-lg");
    }
  }
  .slider-wrapper {
    @apply relative;
    margin-left: calc(theme("spacing.p-default") * -1);
    margin-right: calc(theme("spacing.p-default") * -1);
  }
  @screen sm {
    .slider-wrapper {
      margin-left: calc(theme("spacing.p-sm") * -1);
      margin-right: calc(theme("spacing.p-sm") * -1);
    }
  }
  @screen lg {
    .slider-wrapper {
      margin-left: calc(theme("spacing.p-lg") * -1);
      margin-right: calc(theme("spacing.p-lg") * -1);
    }
  }
  @screen 2xl {
    .slider-wrapper {
      margin-left: calc(((100vw - theme("maxWidth.page")) / 2 + theme("spacing.p-lg")) * -1);
      margin-right: calc(((100vw - theme("maxWidth.page")) / 2 + theme("spacing.p-lg")) * -1);
    }
  }
  .slider-wrapper .slider {
    @apply flex space-x-6 overflow-x-auto overflow-y-hidden snap-x;
    padding-left: theme("spacing.p-default");
    padding-right: theme("spacing.p-default");
  }
  @screen sm {
    .slider-wrapper .slider {
      padding-left: theme("spacing.p-sm");
      padding-right: theme("spacing.p-sm");
    }
  }
  @screen lg {
    .slider-wrapper .slider {
      padding-left: theme("spacing.p-lg");
      padding-right: theme("spacing.p-lg");
    }
  }
  @screen 2xl {
    .slider-wrapper .slider {
      padding-left: calc((100vw - theme("maxWidth.page")) / 2 + theme("spacing.p-lg"));
      padding-right: calc((100vw - theme("maxWidth.page")) / 2 + theme("spacing.p-lg"));
    }
  }
  .slider-wrapper .slide {
    @apply snap-start;
    scroll-margin-left: theme("spacing.p-default");
  }
  @screen sm {
    .slider-wrapper .slide {
      scroll-margin-left: theme("spacing.p-sm");
    }
  }
  @screen lg {
    .slider-wrapper .slide {
      scroll-margin-left: theme("spacing.p-lg");
    }
  }
  @screen 2xl {
    .slider-wrapper .slide {
      scroll-margin-left: calc((100vw - theme("maxWidth.page")) / 2 + theme("spacing.p-lg"));
    }
  }
  .slider-wrapper.history {
    @apply ml-0;
  }
  .slider-wrapper.history .slider {
    @apply pl-0;
  }
  .slider-wrapper.history .slider .slide {
    scroll-margin-left: unset;
  }
}
.slider-shadow {
  position: relative;
}
.slider-shadow:after, .slider-shadow:before {
  content: "";
  @apply h-full w-4 bg-gradient-to-l from-white/100 to-transparent absolute;
}
.slider-shadow:before {
  @apply left-0;
}
.slider-shadow:after {
  @apply right-0;
}

.grid {
  row-gap: 0;
  column-gap: 1.5em;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  .text-sm {
    @apply font-medium;
    letter-spacing: -0.045em;
    position: relative;
    left: -0.07em;
  }
}
.bg-yellow-dark {
  background-color: #db8815;
}

.bg-red-dark {
  background-color: #b7171c;
}

body.red .testimonials,
body.red .fui-submit,
body.red .form-side {
  @apply bg-red;
}

.tab-btn.active {
  @apply text-red border-red;
}

.btn.text-red .btn-arrow svg * {
  @apply stroke-red;
}

body.yellow .btn,
body.yellow nav .inner,
body.yellow footer,
body.yellow nav .color-banner,
body.yellow .testimonials,
body.yellow *::selection,
body.yellow .fui-submit,
body.yellow .form-side {
  @apply bg-yellow;
}
body.yellow .tab-btn.active {
  @apply text-yellow border-yellow;
}

.btn.text-yellow svg * {
  @apply stroke-yellow;
}

.btn.text-yellow .btn-arrow svg * {
  @apply stroke-yellow;
}

body.green {
  @apply bg-green;
}
body.green footer,
body.green .form-side,
body.green .fui-submit {
  @apply bg-green;
}
body.green *::selection,
body.green nav .inner,
body.green nav .color-banner {
  @apply bg-green-dark;
}
body.green footer svg * {
  @apply fill-white;
}

.btn.text-green .btn-arrow svg * {
  @apply stroke-green;
}

body.green-light {
  @apply bg-green-light;
}
body.green-light footer,
body.green-light .form-side,
body.green-light .fui-submit {
  @apply bg-green-light;
}
body.green-light *::selection,
body.green-light nav .inner,
body.green-light nav .color-banner {
  @apply bg-green;
}
body.green-light footer svg * {
  @apply fill-white;
}

.btn.text-green-light .btn-arrow svg * {
  @apply stroke-green-light;
}

body.green-dark {
  @apply bg-green-dark;
}
body.green-dark footer,
body.green-dark .form-side,
body.green-dark .fui-submit {
  @apply bg-green-dark;
}
body.green-dark *::selection,
body.green-dark nav .inner,
body.green-dark nav .color-banner {
  @apply bg-green-light;
}
body.green-dark footer svg * {
  @apply fill-white;
}

.btn.text-green-dark .btn-arrow svg * {
  @apply stroke-green-dark;
}

.progress-bar {
  @apply h-3;
}

.banner.entry-type-landServices {
  @apply bg-transparent flex-col h-auto pt-40 pb-40 overflow-visible;
}
.banner.entry-type-landServices .text {
  @apply sticky top-40;
}
.banner.entry-type-landServices .background {
  @apply relative h-svh max-w-[1600px] mx-auto;
}
.banner.entry-type-landServices .carousel {
  @apply rounded-xl overflow-hidden;
}
.banner.entry-type-landServices .background,
.banner.entry-type-landServices .carousel,
.banner.entry-type-landServices .carousel img {
  @apply relative;
}

.slider img,
.slider picture {
  @apply h-full w-full object-cover;
}

#main-nav .color-banner {
  @apply h-0 -z-1;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
#main-nav .secondary-links li {
  transform: translateY(-10px);
}
#main-nav .active .secondary-links {
  @apply block visible;
}
#main-nav .active .secondary-links li {
  @apply opacity-100 cursor-pointer;
  transform: translateY(-10px);
}
#main-nav .active .secondary-links li:hover {
  @apply opacity-60;
}
#main-nav .active .color-banner {
  @apply h-full;
}

.btn {
  @apply px-[30px] py-[18px] bg-red rounded-md gap-[40px] w-fit relative inline-flex items-center cursor-pointer text-white text-base font-medium border-none whitespace-nowrap transition-all;
}

.btn.btn-inline {
  @apply gap-4 p-0 bg-transparent;
}
.btn.btn-inline .label {
  @apply text-charcoal tracking-tighter;
}

.btn.icon {
  @apply justify-center items-center p-0 h-14 w-14 rounded-full bg-red text-[1.4rem];
}

.btn .btn-arrow {
  @apply relative -bottom-[0.5px] inline-flex justify-center items-center w-[18px] h-[18px] bg-contain bg-no-repeat overflow-hidden rotate-[-45deg];
}

.btn .btn-arrow svg {
  @apply absolute transition-transform will-change-transform;
}

.btn .btn-arrow svg:first-of-type {
  @apply translate-x-0 translate-y-0;
}

.btn .btn-arrow svg:last-of-type {
  @apply translate-x-[-120%] translate-y-0;
}

.btn:hover .btn-arrow svg:first-of-type {
  @apply translate-x-[115%] translate-y-0;
}

.btn:hover .btn-arrow svg:last-of-type {
  @apply translate-x-0 translate-y-0;
}

.btn .btn-arrow *,
.btn.icon * {
  @apply stroke-white;
}

.btn .btn-arrow .red-arrow * {
  @apply stroke-red;
}

.btn .btn-arrow .white-arrow * {
  @apply stroke-white;
}

.btn .btn-arrow .black-arrow * {
  @apply stroke-black;
}

.btn:hover {
  opacity: 0.8;
  -moz-transform: translate3d(0, -0.5px, 0);
  -o-transform: translate3d(0, -0.5px, 0);
  -ms-transform: translate3d(0, -0.5px, 0);
  -webkit-transform: translate3d(0, -0.5px, 0);
  transform: translate3d(0, -0.5px, 0);
}

.outline-hover {
  @apply hover:outline -outline-offset-[3px] outline-[3px] outline-red;
}

.color-hover:hover .background {
  @apply opacity-0;
}
.color-hover:hover .gradient {
  @apply from-black/60;
}

#modal {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Prevent interactions when not visible */
}

#modal:before {
  content: "";
  transition: opacity 0.3s ease-in-out;
  @apply pointer-events-none opacity-0 h-screen w-screen fixed top-0 left-0 bg-white;
}

#modal-image-container .slide:first-of-type {
  @apply ml-16;
}

#modal-image-container .slide:last-of-type {
  @apply mr-6;
}

/* Modal visible state */
#modal.show {
  opacity: 1;
  pointer-events: auto;
}

#modal.show:before {
  @apply opacity-100;
  transition: opacity 0.3s ease-in-out;
}

#photo-modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#photo-modal.show {
  opacity: 1;
  pointer-events: auto;
}

.photo-slide {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.photo-slide.active {
  opacity: 1 !important;
  transform: translateX(0);
}

.photo-slide.left {
  transform: translateX(-100%);
}

.photo-slide.right {
  transform: translateX(100%);
}

.leaflet-popup.custom-popup .leaflet-popup-content-wrapper {
  @apply rounded-xl bg-white p-4 shadow-md;
}

.tooltip-content {
  @apply space-y-3;
}

.leaflet-control {
  @apply flex gap-x-2;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: #eb2127; /* Custom button background color */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  border-radius: 50%; /* Make them circular */
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  background-color: #b7171c; /* Hover effect */
}

.fui-submit {
  @apply border-none border-0 text-2xl font-medium w-full;
}

/*# sourceMappingURL=styles.temp.css.map */
