{% set textAlignment = '' %}

<div class="banner {{ 'entry-type-' ~ entry.type }} {{ entry.slug }} py-28">
	<div class="text page items-end flex h-full z-5 text-white {{ textAlignment }}">
		<div class="grid grid-cols-12 fade-in" data-cascade>
			{% block content %}
				{# Default content, can be overridden in child templates #}
			{% endblock %}
		</div>
	</div>
	<div class="background">
		{% block background %}
			{# Default background logic, can be overridden in child templates #}
		{% endblock %}
	</div>
</div>
