{% extends '_includes/_blocks/bannerBase' %}
{% set assets = entry.asset.all() ?? null %}
{% set buttons = entry.buttons.all() ?? null %}
{% set slideTime = entry.slideTime ?? null %}

{% block content %}
	{# {% if assets|length > 2 %} #}
	<div class="progress-bar bg-white lg:col-span-1 md:col-span-2 col-span-3 row-start-1">
		<div class="progress bg-red"></div>
	</div>
	{# {% endif %} #}
	<div class="col-span-12 row-start-2 mt-12 mb-8 self-end grid grid-cols-subgrid auto-rows-min">
		{% include '_includes/_blocks/text'  with {
			figureClass: 'col-span-10 sm:col-span-8 md:col-span-6 lg:col-span-5 xl:col-span-4'
		} %}
	</div>
	{% if buttons|length %}
		<div class="buttons flex gap-6 row-start-3">
			{% for button in buttons %}
				{% include '_includes/_blocks/button' with {
                    link: button.buttonLink,
                    label: button.buttonLabel
                } %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block background %}
	{% if assets|length %}
		<div class="carousel" data-slide-time="{{ slideTime ?? 15 }}">
			{% include '_includes/_blocks/gradient.twig' with {
                zIndex: '4'
            } %}
			{% for asset in assets %}
				<div class="carousel-item">
					{% include '_includes/_blocks/asset' %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
