{% set class = class ?? null %}

<div id="form" class="form grid grid-cols-12 {{ class }}">
	<div class="form-side bg-texture col-span-0 sm:col-span-2 lg:col-span-3 xl:col-span-4 rounded-tr-xl rounded-br-xl"></div>
	<div class="px-4 sm:px-0 form-inner col-span-12 sm:col-span-8 lg:col-span-6 xl:col-span-4">
		{{ craft.formie.renderForm(formHandle) }}
		{{ craft.formie.renderFormJs(formHandle) }}
		{{ craft.formie.renderFormCss(formHandle) }}
	</div>
	<div class="form-side bg-texture col-span-0 sm:col-span-2 lg:col-span-3 xl:col-span-4 rounded-tl-xl rounded-bl-xl"></div>
</div>
