<div
	class="slide outline-hover xl:flex-span-4 lg:flex-span-6 md:flex-span-8 sm:flex-span-10 flex-span-11 rounded-xl overflow-hidden h-[650px] relative transition-all"
	data-id="{{ contact.id }}">
	<!-- Text Content -->
	<div class="p-12 group absolute w-full h-full top-0 left-0 flex flex-col justify-end text-white z-2">
		<div class="flex gap-6 transition-all duration-300 {% if contact.phone or contact.email %}group-hover:-translate-y-20{% endif %}">
			<h3 class="text-3xl">{{ contact.title }}</h3>
			<p class="text-3xl font-normal">{{ contact.position }}</p>
		</div>
		
		<div class="w-full bottom-8 flex justify-start space-x-4 opacity-0 group-hover:opacity-100 transition-all -translate-y-4 {% if contact.phone or contact.email or bio %}group-hover:-translate-y-0{% endif %}">
			{% if bioInfo %}
				{% include '_includes/_blocks/button' with {
					link: '',
					label: 'Read More',
					class: "bio-button absolute !w-full !text-center -bottom-4 opacity-0 group-hover:opacity-100 transition-all duration-300 group-hover:-translate-y-6 justify-between",
					attributes: {
						'data-id': contact.id
					}
				} %}
			{% endif %}
			{% if contactInfo %}
				<div class="absolute top-0">
					{% if contact.phone %}
						{% include '_includes/_blocks/button' with {
							link: 'tel:' ~ contact.phone,
							label: 'Call',
							class: "!w-half !text-center -bottom-4 opacity-0 group-hover:opacity-100 transition-all duration-300 group-hover:-translate-y-6 justify-between"
						} %}
					{% endif %}
					{% if contact.email %}
						{% include '_includes/_blocks/button' with {
							link: 'mailto:' ~ contact.email,
							label: 'Email',
							class: "!w-half !text-center -bottom-4 opacity-0 group-hover:opacity-100 transition-all duration-300 group-hover:-translate-y-6 justify-between"
						} %}
					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>
	<!-- Gradient Overlay -->
	{% include '_includes/_blocks/gradient.twig' with {
		height: '1/4',
		opacity: '50'
	} %}
	<!-- Background Image -->
	{% if contact.asset.one() %}
		{% include '_includes/_blocks/asset' with {
			asset: contact.asset.one(),
			ratio: '4:5'
		} %}
	{% endif %}
</div>
