<button class="btn icon arrow arrow-next {% if nextArrowClass is defined %}{{ nextArrowClass }}{% endif %}"{% if nextArrowId is defined %} id="{{ nextArrowId }}"{% endif %}>
	{% include "_includes/_icons/arrowBase" %}
</button>
