<button id="hamburger" class="w-[1.75rem] h-4 relative flex flex-col items-center justify-center cursor-pointer flex flex-col nav {% if class is defined %} {{ class }} {% endif %} ">
	<span class="line top top-0"></span>
	<span class="line middle m-auto"></span>
	<span class="line bottom bottom-0"></span>
</button>
