.press-outer {
    width: $width;
    max-width: $max-width;
    margin: auto;
    h1 {
        color: $red;
        margin: $margin-small auto;
    }
    .pdf-viewer {
        width: 100%;
        background-color: $white;
    }
    canvas {
        display: block;
        margin: 0 auto $margin-small auto;
        border-radius: $box-radius;
    }
    .text {
        display: flex;
        flex-direction: column;
        p {
            max-width: 750px;
            margin: auto;
        }
    }
    figure {
        border-radius: $box-radius;
        overflow: hidden;
        object-fit: cover;
        height: 80svh;
        min-height: 500px;
        max-height: 1000px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .blog {
        text-align: left;
        h1 {
            margin-bottom: 50px;
            text-align: center;
        }
        .inner {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: $gap-medium;
            p {
                font-weight: 500;
                line-height: 2em;
                margin: auto;
            }
            figure {
                margin: 10px auto;
            }
        }
    }
    canvas,
    .website-image {
        max-height: calc(100svh - 150px);
        width: 100%;
        object-fit: contain;
        box-shadow: $box-shadow;
    }
    canvas {
        max-width: 800px;
    }
    .website-link {
        margin-top: $margin-medium;
    }
    .website-image {
        max-height: 1000px;
        width: 100%;
        object-fit: cover;
        margin: auto;
        @include flex-center;
        overflow: hidden;
        border-radius: $box-radius;
        will-change: filter;
        transition: $transition-medium !important;
        cursor: pointer;
        h2,
        &:before {
            opacity: 0;
            visibility: hidden;
            transition: $transition-medium;
        }
        h2 {
            position: absolute;
            margin: auto;
            color: $white;
            z-index: 3;
        }
        picture, img, video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:before {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            background-color: $red;
            z-index: 2;
        }
        &:hover {
            &:before {
                opacity: .95;
                visibility: visible;
            }
            .btn,
            h2 {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @include respond-to-max($desktop-large) {
        width: 100vw;
        padding: 0 50px;
    }

    @include respond-to-max($tablet) {
        .blog .inner figure {
            width: 100vw;
            margin-left: -50px;
            margin-right: -50px;
            border-radius: unset;
        }
    }
    
    @include respond-to-max($mobile) {
        padding: 0 30px;
        .blog .inner figure {
            margin-left: -30px;
            margin-right: -30px;
        }
        .website-image h2 {
            font-size: 1.5rem;
        }
    }
}