.landing.story {
  padding:unset;
  .inner {
    max-width: 2100px;
    .text {
      margin-right: -12px;
    }
    .mobile {
      display: none;
    }
    video {
      z-index: -1;
      height: 99.5%;
      width: 99.5%;
      bottom: 0;
      right: 0;
      margin: auto;
      object-position: center;
    }
    @include respond-to-max($tablet) {
      .text {
          margin-right: unset;
        }
      .mobile {
        display: block;
      }
      video.mobile {
        min-height: 100vh;
        min-width: 100vw;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
      }
      dotlottie-player.mobile {
        width: 75vw !important;
        max-width: 700px;
      }
      .desktop {
        display: none;
      }
    }
  }
}
