{% extends "index" %}

{% block content %}
    {# {% include '_includes/_blocks/landingGeneral' with { blocks: story.landing.all() } %} #}
    <div class="landing {{ entry.slug }}">
        <div class="inner center-center">
            <div class="text fade-in" data-cascade>
                <dotlottie-player class="desktop" src="https://lottie.host/f5b2c52c-8dea-40c6-b02c-a25259931e81/QmFY9J8Jkd.json" background="transparent" speed="1" style="width: 100%; height: 100%" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                <dotlottie-player class="mobile" src="https://lottie.host/3e41d573-9043-4ec7-a0e9-74b1ef7d9272/OCVsz5HH9u.json" background="transparent" speed="1" style="width: 75%; height: 100%" direction="1" playMode="normal" loop autoplay></dotlottie-player>
                <video class="background desktop" autoplay loop muted preload="metadata" playsinline webkit-playsinline>
                    <source src="/uploads/videos/lottie-background.mp4">
                </video>
                <video class="background mobile" autoplay loop muted preload="metadata" playsinline webkit-playsinline>
                    <source src="/uploads/videos/article-video.mp4">
                </video>
            </div>
        </div>
    </div>

    

    {% include '_includes/_blocks/bannerText' with {
        block: entry,
        handle: 'text',
        maxWidth: entry.topMaxWidth,
        class: 'anchor'
    } %}

    {% set partners = craft.entries.section('staff').type('partner').all() %}
    {% include '_includes/_blocks/slider' with { 
        slides: partners, 
        height: 'large',
        class: "accordion",
        slideHeader: 'Partners',
        visibleCards: 2, 
        slideTemplate: '_includes/_blocks/slideAccordion',
        arrows: false,
        fadeIn: true
    } %}

    {% set employees = craft.entries.section('staff').type('employee').all() %}
    {% include '_includes/_blocks/slider' with { 
        slides: employees, 
        height: 'medium', 
        slideHeader: 'Employees',
        visibleCards: 3, 
        slideTemplate: '_includes/_blocks/slideEmployee',
        fadeIn: true
    } %}

    {% include '_includes/_blocks/banner' with {
        block: entry,
        handle: 'bannerText',
        link: entry.bannerLink,
        label: entry.bannerLabel,
        maxWidth: entry.bottomMaxWidth
    } %}
{% endblock %}
