{% extends "index" %}

{% block content %}
	<div class="landing error">
	    <div class="inner flex justify-center align-center">
	        <div class="text">
		        <h1>How'd you get here?</h1>
		        <p>This page doesn't exist.</p>
				<a href="/" class="btn border">Go home</a>
	        </div>
	    </div>
	</div>
{% endblock %}