{% if projects | length %}
    {% for project in projects %}
        <div class="project gradient" data-project-id="{{ project.id }}">
            <a class="anchor-overlay" href="{{ project.url }}"></a>
            <div class="text">
                {% include '_includes/_blocks/button' with {
                    link: project.url,
                    label: 'Explore Project',
                    secondArrow: 'white-arrow',
                    fadeIn: true,
                    attributes: {
                        'data-project-id': project.id
                    }
                } %}
                {% include '_projects/projectInfo' with {
                    entry: project,
                    class: 'highlight',
                    fadeIn: true
                } %}
            </div>

            {% set asset = project.projectImages.one() %}
            {% if asset %}
                <div class="overlay"></div>
                <div class="project-image" data-project-id="{{ project.id }}">
                    {% include '_includes/_blocks/asset' %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>No projects found for the selected category.</p>
{% endif %}