// color---------------------------------------
$red: #eb2127;
$orange: #f37321;
$yellow: #f99c1c;
$green: #5a6d46;
$black: #333333;
$grey: #e5e5e5;
$white: #ffffff;

// Convert SCSS variable to CSS variable
:root {
  --red: #{$red};
  --grey: #{$grey};
}

// transitions----------------------------------
$ease: cubic-bezier(0.23, 1, 0.32, 1);
$transition-short: 0.1s $ease;
$transition: 0.28s $ease;
$transition-medium: 0.5s $ease;
$transition-long: 0.8s $ease;

// type-----------------------------------------
$base: "F37 Blanka", helvetica, sans-serif !important;

// radius---------------------------------------
$box-radius: 15px;
$btn-radius: 3px;
